

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}
.line{
 border: 1px solid #aaa;
  width: 60%;
  text-align: center;
	background-color: #73c6d0;

	margin-left: 20%;
	margin-right: 10%;

}


.main-contents {
	background-color: 	#EEFFFF	;
	align-items: center;
	margin-top:17px;
	margin-bottom: 0px;
	text-align: center;
	height:35px;
	 border: 1px solid #aaa;
  width: 100%;
  text-align: center;
	font-size: 100%;
}
a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

.tweet-box {
margin-left: 20%;
	margin-right: 20%;
}

.button {
margin-left: 20%;
	margin-right: 14%;

}
.button1 {
 margin-left : 200px ;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 50px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 15px;
	font-weight: bold;
	line-height: 36px;
	padding: .75em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
width:20%;
  margin-left:40%;
  height:20px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
width: 250px;
	margin: 0 auto;


}

.copyright2 {
	width: 250px;
	margin: 0 auto;



}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

h1 {
  position: relative;
  padding: 1em 0;
  width:30%;
    margin-left:35%;
    font-size:20px;
}
h1::before,
h1::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}
h1::before {
  top: 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}
h1::after {
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.haba{

	width:200px;
	}
}
